<%= content_tag :tr, id: "todo-#{todo.id}" do %>

  <td>
    <%= todo.description %>
  </td>
  <td>
    <%= todo.days_left %>
  </td>
  <td>
    <%= link_to "", [todo], method: :delete, remote: true, class: 'glyphicon glyphicon-check'%>
  </td>

<% end %>