@import "bootstrap";

* {
}

body {
  margin-top:1%
}

form{
  width: 70%;
}

.jumbostyle{
  margin-right:auto;
  margin-left:auto;
  margin-top:5%;
  width:40%;
  align: center;
}

.user_info {
  margin-right: 200px;
}

.todolist{
  margin-right:auto;
  margin-left:auto;
  margin-top:5%;
  margin-bottom:5px;
  width:60%;
}

.submission-form{
  margin-right:auto;
  margin-left:auto;
  margin-top:0%;
  width:60%;
  align: center;
  vertical-align:middle;
}