@import "bootstrap";

* {
}

body {
  margin-top:1%
}

form{
  width: 70%;
}

.jumbostyle{
  margin-right:auto;
  margin-left:auto;
  margin-top:5%;
  width:40%;
  align: center;
}

.user_info {
  margin-right: 200px;
}